name: Python application

on:
  schedule:
    - cron:  '*/15 * * * *'
  watch:
    types: [started]

jobs:
  build:
    if: github.ref == 'refs/heads/master'
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Set up Python 3.8
      uses: actions/setup-python@v2
      with:
        python-version: 3.8
    - name: Install dependencies
      run: |
        echo "[user]\n    name = Jordan Mance\n    email = jordan@figgy.dev" > ~/.gitconfig

        python -m pip install --upgrade pip
        pip install setuptools twine pip wheel
        if [ -f requirements.txt ]; then pip install -r requirements.txt; fi

    - name: Check for update
      id: check
      run: |
        output=$(python update_formula.py)
        echo $output | grep "Updating figgy.rb"
        if [[ $? -eq 0 ]]
        then
          echo "::set-output name=updated::true"
        fi

    - name: Commit changes
      if: steps.check.outputs.updated == 'true'
      uses: EndBug/add-and-commit@v4
      with:
        author_name: Jordan
        author_email: jordan@figgy.dev
        message: "Releasing new version"
        add: "*"
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}